body {
  font-family: "B612 Mono", monospace;
}
.app {
  width: 60%;
  margin: 40px auto;
}

.btn {
  height: 40px;
  background-color: cornflowerblue;
  color: whitesmoke;
  border: none;
  font-size: 1.2rem;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
}
